@media screen and (min-width: 1200px) {
	#banner {
		.jumbotron {
			background-position: center bottom;
		}
	}
}
@media screen and (min-width: 992px) {
	#home-services {
		.container {
			width: 900px;
		}
	}
}
@media screen and (min-width: 321px) {
	.products {
		.products-box {
			.single-product-close {
				background-image: none !important;
			}
		}
	}
}
