@media only screen and (max-width: 767px) {
	.navbar-default {
		z-index: 1;
		.navbar-header {
			.navbar-toggle {
				border-color: transparent;
				margin-top: 20px;
				&:hover {
					background-color: transparent;
				}
				.icon-bar {
					background-color: $color-text-green;
					height: 4px;
				}
			}
		}
		.navbar-collapse {
			border-color: transparent;
			background-color: $color-text-green;
			margin-top: 10px;
			.navbar-nav {
				padding-bottom: 40px;
				padding-right: 10px;
				li {
					a {
						color: $color-text-white;
						text-align: right;
						font-size: $font-size-h2;
					}
					.dropdown-menu {
						a {
							color: $color-text-white;
							&:hover {
								color: $color-text-white;
							}
						}
					}
				}
			}
		}
	}
	#normal-banner {
		background-color: transparent;
		padding-bottom: 0;
		h1 {
			color: $color-text-green;
			font-size: $font-size-h3;
			text-align: center;
			margin-top: 0;
			margin-bottom: 0;
		}
	}
	#home-services {
		padding-top: 0;
		padding-bottom: 0;
		.single-service {
			padding-top: 30px;
			padding-bottom: 30px;
			&:nth-child(2) {
				background-color: $color-background-gray;
			}
		}
	}
	.services {
		.service-icon {
			display: none;
		}
	}
	.get-in-touch {
		padding-bottom: 0 !important;
		.header {
			font-size: 24px;
		}
		.container-fluid {
			padding-right: 0;
			padding-left: 0;
		}
		.single {
			padding-top: 30px;
			padding-bottom: 30px;
		}
	}
	.contact {
		.locations {
			.title {
				text-align: center;
			}
			.location {
				padding-left: 0;
				padding-right: 0;
			}
		}
		.hours-of-operation {
			.title {
				text-align: center;
			}
		}
	}
}
@media only screen and (max-width: 320px) {
	.navbar-default {
		.navbar-header {
			.navbar-brand {
				width: 250px;
				padding: 0;
			}
		}
	}
	.products {
		padding-bottom: 20px !important;
		.products-container {
			padding-left: 0;
			padding-right: 0;
			.products-box {
				padding-left: 0;
				padding-right: 0;
				.single-product {
					padding-top: 17px;
					padding-bottom: 17px;
					.product-title {
						@include roboto300;
						background: $color-text-green;
						width: 100%;
						padding-top: 10px;
						padding-bottom: 10px;
						padding-left: 10px;
						margin-top: 0;
						&:after {
							@include font-awesome;
							content: '\f0d7';
							float: right;
							padding-right: 10px;
						}
					}
				}
				.single-product-close {
					background-image: initial;
					padding-top: 145px;
					padding-bottom: 145px;
					.product-title {
						background-color: $color-background-orange;
						&:after {
							@include font-awesome;
							content: '\f0d8';
							float: right;
							padding-right: 10px;
						}
					}
				}
				.single-product-content {
					padding: 10px 10px 10px;
				}
			}
		}
	}
	.our-team {
		.team-container {
			padding-left: 0;
			padding-right: 0;
			.single-team img {
				width: 100%;
			}
		}
	}
	.contact {
		.locations {
			.location {
				padding-left: 0;
				padding-right: 0;
				.col-xs-1 {
					padding-left: 0;
					img {
						float: left !important;
					}
				}
				.address {
					padding-left: 10px;
				}
			}
		}
	}
}
@media only screen and (max-width: 318px) {
	.contact {
		.hours-of-operation {
			.days {
				font-size: $font-size-small;
			}
			.time {
				font-size: $font-size-small;
			}
		}
	}
}
