@media screen and (min-width: 1200px) {
	.navbar-default {
		.navigation-offset {
			margin-left: 8.33333333%;
		}
		.navigation-lg {
			width: 83.33333333%;
		}
	}
	#banner {
		.jumbotron {
			background-position: center bottom;
		}
	}
}
@media screen and (min-width: 992px) {
	#home-services {
		.container {
			width: 900px;
		}
	}
}
@media screen and (min-width: 768px) {
	.navbar-default {
		.navbar-toggle {
			display: none !important;
		}
	}
}
@media screen and (min-width: 321px) {
	.products {
		.products-box {
			.single-product-close {
			}
			.product-title {
				display: none;
			}
		}
	}
}
