/* Wordpress Search Form */
form.search-form {
	margin-bottom: 15px;
	.search-field {
		@include form-control;
	}
	.search-submit {
		@include default-button;
		&:hover {
			@include default-button-hover;
		}
	}
}
/* Comments */
.comments-area {
	margin-top: 50px;
	.comment-list {
		footer {
			background-color: transparent;
			div a {
				color: #4A4A4A;
			}
		}
	}
	.comment-respond {
		input, textarea {
			@include form-control;
			height: auto;
		}
		input[type='submit'] {
			@include default-button;
			width: auto;
			&:hover {
				@include default-button-hover;
			}
		}
	}
}
/* Contact Form */
.contact-form {
	.casesupply-contact-form {
		.form-control {
			height: 50px;
			border: 1px solid #d7d7d7;
			border-radius: 0;
			outline: 0;
			&:focus {
				outline: 0;
				border: 1px solid $color-background-green;
				-webkit-box-shadow: inset 0 0 1px rgba(54, 158, 105, 0.07), 0 0 1px rgba(54, 158, 105, 0.07);
				-moz-box-shadow: inset 0 0 1px rgba(54, 158, 105, 0.07), 0 0 1px rgba(54, 158, 105, 0.07);
				box-shadow: inset 0 0 1px rgba(54, 158, 105, 0.07), 0 0 1px rgba(54, 158, 105, 0.07);
			}
		}
		textarea.form-control {
			height: auto;
		}
	}
	div.wpcf7-response-output {
		margin: 0;
	}
}
