$color-text: #4A4A4A;
$color-text-black: #000000;
$color-text-white: #fff;
$color-text-green: #369369;

$color-background-gray: #F8F8F8;
$color-background-dark-gray: #9B9B9B;
$color-background-green: rgb(54, 158, 105);
$color-background-blue: #4A90E2;
$color-background-black: #000;
$color-background-orange: #EBA93E;
