$font-size-h1: 36px;
$font-size-h2: 30px;
$font-size-h3: 24px;
$font-size-h4: 18px;
$font-size-h5: 16px;
$font-size-h6: 12px;
$font-size-p: 16px;

$font-size-small: 10px;
$font-size-medium: 14px;

$letter-spacing: 0.47619px;
