// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}
// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}
//Fonts
@mixin roboto300() {
	font-family: 'Roboto Light', sans-serif;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
}
@mixin roboto500() {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}
@mixin roboto900() {
	font-family: 'Roboto Black', sans-serif;
	font-style: normal;
	font-weight: 900;
	line-height: normal;
}
// Padding Top and Bottom
@mixin paddingtopandbottom() {
	padding-top: 40px;
	padding-bottom: 40px;
}
