body {
	background: #ffffff;
	@include roboto300;
	line-height: 22px;
	font-size: $font-size-p;
	letter-spacing: 0.714286px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-ms-overflow-style: scrollbar;
	overflow-x: hidden;
}
a {
	&:hover {
		text-decoration: none;
		color: $color-text-white;
	}
}
.uppercase {
	text-transform: uppercase;
}
.nopadding {
	padding: 0;
}
.nopaddingtop {
	padding-top: 0;
}
.nopaddingbottom {
	padding-bottom: 0;
}
.nopaddingleft {
	padding-left: 0;
}
.nopaddingright {
	padding-right: 0;
}
.equal-height {
	margin-bottom: 5px;
}
