#template-container {
	@include paddingtopandbottom;
	.col-md-6 {
		margin-bottom: 20px;
		h4 {
			margin-top: 0;
		}
	}
}
#home-services {
	@include paddingtopandbottom;
	.single-service {
		border-right: 2px solid #E8E8E8;
		h3 {
			text-transform: uppercase;
		}
		p {
			padding-left: 50px;
			padding-right: 50px;
		}
	}
	.single-service:nth-child(3) {
		border-right: transparent;
	}
}
#home-our-story {
	background-color: $color-background-green;
	background-size: cover !important;
	background-repeat: no-repeat !important;
	color: $color-text;
	@include paddingtopandbottom;
	padding-top: 10px;
	h1 {
		@include roboto900;
	}
}
.services {
	.service-title {
		@include roboto500;
	}
}
.products {
	.products-box {
		padding-top: 30px;
		.single-product {
			padding-top: 110px;
			padding-bottom: 110px;
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;
			position: relative;
			margin-top: 10px;
			&:hover, &:hover h4 {
				cursor: pointer;
				opacity: 0.5;
			}
			.product-title {
				top: 0;
				position: absolute;
				padding-left: 25px;
				color: $color-text-white;
				@include roboto500;
				text-transform: uppercase;
			}
		}
		.single-product-close {
			background-image: none;
		}
		.single-product-close + .single-product-content {
			display: table !important;
		}
		.single-product-content {
			padding: 20px 60px 33px;
			background: $color-background-gray;
			width: 100%;
			display: none;
		}
	}
}
.our-team {
	.single-team {
		text-align: center;
		img {
			width: 270px;
			height: 435px;
		}
		p {
			@include roboto900;
			line-height: 16px;
			font-size: $font-size-h4;
			padding-top: 10px;
			span {
				@include roboto300;
				font-size: $font-size-medium;
			}
		}
	}
}
.faq {
	.single-faq {
		margin-bottom: 20px;
		.question {
			@include roboto900;
			font-size: $font-size-h4;
			margin-bottom: 10px;
			&:before {
				content: 'Q: ';
				color: $color-text-green;
			}
		}
		.answer {
			&:before {
				content: 'A: ';
				@include roboto900;
				font-size: $font-size-h4;
				color: $color-text-black;
			}
		}
	}
}
.contact {
	.title {
		@include roboto900;
		color: $color-text-green;
		font-size: $font-size-h3;
		margin-bottom: 25px;
	}
	.locations {
		.location {
			h4 {
				@include roboto900;
			}
			.address {
				p {
					letter-spacing: 0.43px;
					font-size: 14px;
				}
			}
		}
	}
	.hours-of-operation {
		.days {
			@include roboto900;
			line-height: 20px;
			padding-right: 35px;
		}
		.time {
			@include roboto300;
			line-height: 30px;
			letter-spacing: 0;
		}
		table {
			margin-bottom: 30px;
			width: 94%;
		}
	}
}
#map {
	height: 100%;
	min-height: 35vh;
}
