#home-services {
	@include paddingtopandbottom;
	.single-service {
		border-right: 2px solid #E8E8E8;
		p {
			padding-left: 50px;
			padding-right: 50px;
		}
	}
}
#home-our-story {
	background-color: $color-background-dark-gray;
	color: $color-text-white;
	@include paddingtopandbottom;
	h1 {
		@include roboto900;
	}
}
#services {
	@include paddingtopandbottom;
	.col-md-6 {
		margin-bottom: 20px;
		h4 {
			margin-top: 0;
		}
	}
}
