.get-in-touch {
	@include paddingtopandbottom;
	background-color: $color-background-gray;
	.single {
		&:nth-child(2) {
			background-position-y: 80% !important;
		}
		a:focus {
			text-decoration: none;
			outline: 0;
		}
		padding-top: 90px;
		padding-bottom: 90px;
		img {
			margin-bottom: 20px;
			height: 50px;
		}
		p {
			color: $color-text-white;
		}
	}
}
footer {
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: $color-background-black;
	a {
		@include roboto500;
		color: $color-text-white;
		font-size: $font-size-small;
		&:hover, &:focus {
			color: $color-text-white;
			text-decoration: none;
			outline: 0;
		}
	}
}
