.get-in-touch {
	@include paddingtopandbottom;
	background-color: $color-background-gray;
	.col-md-4 {
		padding-top: 90px;
		padding-bottom: 90px;
		img {
			margin-bottom: 20px;
		}
		p {
			color: $color-text-white;
		}
	}
}
footer {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: $color-background-black;
	a {
		color: $color-text-white;
		font-size: $font-size-small;
	}
}
