.header {
	@include roboto900;
	line-height: inherit;
}
.background-dark-gray {
	background: rgba(164, 164, 164, 0.80);
	background-size: cover !important;
	background-repeat: no-repeat !important;
}
.background-green {
	background-color: rgba(54, 158, 105, 0.80);
	background-size: cover !important;
	background-repeat: no-repeat !important;
}
.background-blue {
	background-color: rgba(95, 154, 224, 0.80);
	background-size: cover !important;
	background-repeat: no-repeat !important;
}
.color-white {
	color: $color-text-white;
}
.uppercase {
	text-transform: uppercase;
}
.nopadding {
	padding: 0;
}
.nopaddingtop {
	padding-top: 0;
}
.nopaddingbottom {
	padding-bottom: 0;
}
.nopaddingleft {
	padding-left: 0;
}
.nopaddingright {
	padding-right: 0;
}
.equal-height {
	margin-bottom: 5px;
}
