#banner {
	.jumbotron {
		background-repeat: no-repeat;
		background-position: center -60px;
		background-size: cover;
		background-attachment: fixed;
		height: 45vh;
	}
}
#normal-banner {
	background-color: $color-background-green;
	padding-top: 30px;
	padding-bottom: 30px;
	h1 {
		color: $color-text-white;
		text-transform: uppercase;
		@include roboto900;
	}
}
