#banner {
	.jumbotron {
		padding-top: 175px;
		padding-bottom: 175px;
	}
	.jumbotron {
		background-repeat: no-repeat;
		background-position: 100% 600%;
		background-size: cover;
		background-attachment: fixed;
	}
}
